{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <script src='https://www.google.com/recaptcha/api.js'></script>
<div class="container mt-2  mb-2">
  {% if message %}
    <div class="alert alert-primary w-50" role="alert">
      {{ message|safe }}
    </div>
  {% endif %}

  {% if error_message %}
    <div class="alert alert-danger w-50" role="alert">
      {{ error_message|safe }}
    </div>
  {% endif %}

  <form method="post">
      {% csrf_token %}
      <div class="form-width  w-50">
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.age|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.salary|as_crispy_field }}
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.sport_field|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.days_of_week|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.start_time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.end_time|as_crispy_field }}
        </div>
      </div>
      <div class="form-group">
        {{ form.user|as_crispy_field }}
      </div>
      <div class="mb-3">
        <label>Aren't you a robot</label>
        <div class="g-recaptcha" data-sitekey="6LcOTtoUAAAAAB1SiuVIDsoON-5nlMWUkTnNTvR3">
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
  </form>

<script type="text/javascript">
  $(".alert").fadeTo(3500, 500).slideUp(500, function(){
      $(".alert").slideUp(10000);
  });
</script>

{% endblock %}