{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class ="form-width  w-75">
              <div class="card">
                <div class="card-body">
                  {% if message %}
                      <div class="alert alert-primary" role="alert">
                        {{ message|safe }}
                      </div>
                    {% endif %}
                    {% if error_message %}
                      <div class="alert alert-danger" role="alert">
                        {{ error_message|safe }}
                      </div>
                    {% endif %}
                  <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                      {{ form.age|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                      {{ form.sport_field|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.transaction_amount|as_crispy_field }}                    
                  </div>
                  <div class="form-group col-md-6 mb-0">
                    {{ form.last_transaction|as_crispy_field }}
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.start_time|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                  {{ form.end_time|as_crispy_field }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.days_of_week|as_crispy_field }}
                </div>
              </div>
              <div class="mb-2">
                <label>Aren't you a robot</label>
                <div class="g-recaptcha" data-sitekey="6LcOTtoUAAAAAB1SiuVIDsoON-5nlMWUkTnNTvR3">
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>

<script type="text/javascript">
  $(".alert").fadeTo(3500, 500).slideUp(500, function(){
      $(".alert").slideUp(10000);
  });
</script>

<script type="text/javascript">
  $(".alert alert-danger").fadeTo(5000, 500).slideUp(500, function(){
      $(".alert alert-danger").slideUp(10000);
  });
</script>

{% endblock %}