{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">
    <div class ="mt-4 mb-3 col-8">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">transactions</th>
                <th scope="col">number of transactions</th>
                <th scope="col">amount</th>
            </tr>
            </thead>
            <tbody>
                    <tr>
                    <td>Incomes</td>
                    <td>{{ incomes.amount__count }}</td>
                    <td>{{ incomes.amount__sum }}</td>
                    </tr>
                    <tr>
                    <td>Expenses</td>
                    <td>{{ expenses.amount__count }}</td>
                    <td>{{ expenses.amount__sum }}</td>
                    </tr>
                    <tr>
                      <td>Total</td>
                    <td>{{ incomes.amount__count|add:expenses.amount__count }}</td>
                    <td>{{ total }}</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}