{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">
    <div class ="mt-4 mb-3 col-8">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">number</th>
                <th scope="col">details</th>
                <th scope="col">amount</th>
                <th scope="col">date</th>
            </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ expense.details }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if is_paginated %}
<div class="row justify-content-center">
    <div class="pagination  mt-4">
        <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
    </div>
</div>
{% endif %}

{% endblock %}