{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<script src='https://www.google.com/recaptcha/api.js'></script>

{% if message %}
  <div class="alert alert-primary  mt-4  w-50" role="alert">
    {{ message|safe }}
  </div>
{% endif %}

{% if error_message %}
  <div class="alert alert-danger  mt-4  w-50" role="alert">
    {{ error_message|safe }}
  </div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class ="mt-4 mb-3 w-50">
      {{form|crispy}}
    <div class="mb-2">
      <label>Aren't you a robot</label>
      <div class="g-recaptcha" data-sitekey="6LcOTtoUAAAAAB1SiuVIDsoON-5nlMWUkTnNTvR3">
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

<script type="text/javascript">
$(".alert").fadeTo(3000, 500).slideUp(500, function(){
    $(".alert").slideUp(10000);
});
</script>
{% endblock %}